<ion-view hide-nav-bar="true">
    <ion-content has-header="false">
        <form ng-submit="login()" name="loginData">
      <div class="login-signup">
        <div class="app-logo"><img ng-src="img/appLogo/Logo.svg" alt="" /></div>
        <div class="list">
          <label class="login-form item-input item-stacked-label">
            <span class="input-label lato-bold">Password</span>
            <input
              type="password"
              name="password"
              ng-model="formData.password"
              required
            />
            <small
              class="errors"
              ng-show="signup.password.$touched && signup.password.$invalid"
              >Password is required.</small
            >
          </label>
          <label class="login-form item-input item-stacked-label">
            <span class="input-label lato-bold">Confirm Password</span>
            <input
              type="password"
              name="confirmPassword"
              ng-model="formData.confirmPassword"
              required
            />
            <small
              class="errors"
              ng-show="signup.confirmPassword.$touched && signup.confirmPassword.$invalid"
              >Confirm Password is required.</small
            >
            <small
              class="errors"
              ng-show="formData.confirmPassword != formData.password"
              >Confirm Password and Password doesn't match.</small
            >
          </label>
        </div>
        <div class="continue-btn">
            <button
              class="button button-block text-uppercase"
              promise-btn="otpPromise"
              ng-disabled="loginData.$invalid"
              ng-click="submit(formData)"
            >
              Continue
            </button>
      </div>
    </form>
    </ion-content>
</ion-view>
