<ion-modal-view class="uploadendProductsModal">
  <a class="button button-icon icon ion-close-round item-note close-size" ng-click="closeAddEndProduct()"></a>
  <ion-content class="top35">
    <div class="mt-20 ">
      <!-- <div class="row" ng-if="!endProduct.image || endProduct.image.length == 0">
        <div class="col">
          <div class="upload-photos">
            <button class="button button-block icon-left icon-Upload" ng-click="addProduct(0,1)">
              Upload Photos
            </button>
          </div>
        </div>
        <div class="col">
          <div class="open-camera">
            <button class="button button-block icon-left icon-Camera" ng-click="addProduct(1,1)">
              Open Camera
            </button>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col">
          <div class="upload-photos upload-center">
            <upload-image multi='false' ng-callback="uploadedimg(productimage)" ng-model="productimage" type='image'>
              Upload Photos
            </upload-image>
            <!-- <button
              class="button button-block icon-left icon-Upload"
              ng-click="addCamera(0,10)"
            >
              Upload Photos
            </button> -->
          </div>
        </div>
        <!-- <div class="col">
          <div class="open-camera">
            <button
              class="button button-block icon-left icon-Camera"
              ng-click="addCamera(1,1)"
            >
              Open Camera
            </button>
          </div>
        </div> -->
      </div>
      <div class=" ">
        <div class="row mb-15">
          <div class="col image-cancel-div col-33" ng-if="endProduct.image && endProduct.image[0]">
            <div class="upload-img">
              <div class="upload-bg" style="background:url({{
                  endProduct.image[0] | serverimage: 150:150:'cover'
                }}) #ddd no-repeat center center;background-size:cover;"></div>
            </div>
            <img class="image-cancel" src="img/cross.svg" alt="" ng-click="removeEndProductImage(0)" />
          </div>
        </div>
        <div class="post-textarea">
          <!-- <label class="item item-input">
            <input type="text" placeholder="Name" ng-model="endProduct.name" />
          </label> -->
        </div>
        <div class="text-center mtb-20">
          <button class="button btn post-requirement" promise-btn="addInEndProductPromise" ng-click="addInEndProduct(); closeAddEndProduct()"
            ng-disabled="!endProduct.image">
            Add My Product
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
