<ion-modal-view class="uploadphotomodal">
  <a class="button button-icon icon ion-close-round item-note close-size" ng-click="closeBuyerProfileModal()"></a>
  <ion-content class="buyer-profile top35">
    <div class="buyer-info">
      <a class="item item-thumbnail-left">
        <img ng-src="{{ singleNotification.from.photo | serverimage }}" />
        <h2 class="fashion col-black">{{ singleNotification.from.companyName }}</h2>
        <p class="fashion">{{ singleNotification.from.name }}</p>
        <p class="fashion lato-regular fontBold col-black">Brand: {{singleNotification.from.brandName}}</p>
      </a>
      <div ng-if="singleNotification.notificationType=='Request'">
        <div class="sample-req">
          <label>Sample Request for</label>
          <span>{{ singleNotification.product.name }}.</span>
          <button class="lato-medium check-details" ui-sref="product-detail({id:singleNotification.to._id,productId:singleNotification.product._id})"
            ng-click="closeBuyerProfileModal()">
            Product Page
          </button>
        </div>
        <div>Design no : {{ singleNotification.product.designNumber }}</div>
      </div>
      <div class="gst-address">
        <h5>GST Number</h5>
        <!-- A wing, Flat No. 30, Laxmi Nivas, 3rd Floor,​ ​ Plot no. 3, Next to Sadhana School, Sion (W), Mumbai - 400022. -->
        <p>{{ singleNotification.from.gstNumber }}</p>
      </div>
      <!-- <div class="post-req-image" ng-repeat="image in singleNotification.product.images">
          <img ng-src="{{image | serverimage}}" ng-click="openModal(image)">
        </div> -->
      <div class="gst-address">
        <h5>GST registered Address</h5>
        <!-- A wing, Flat No. 30, Laxmi Nivas, 3rd Floor,​ ​ Plot no. 3, Next to Sadhana School, Sion (W), Mumbai - 400022. -->
        <p>{{ fullAddress }}</p>
      </div>
      <div class="email">
        <div>Email Id</div>
        <label>{{ singleNotification.from.email }}</label>
      </div>
      <div class="mobile">
        <div>Mobile Number</div>
        <label>{{ singleNotification.from.mobile }}</label>
        <div class="whatsapp-call-icon">
          <!-- <i class="ion icon-Whatsupp"> -->
          <a class="ion icon-Whatsupp" href="https://api.whatsapp.com/send?phone=91{{
              singleNotification.from.mobile
            }}&text={{ product.owner.name }}"
            target="_blank"></a>
          <!-- </i> -->
          <!-- <i class="ion icon-Call"> -->
          <!-- <a class="ion icon-Call" href="tel:{{ singleNotification.from.mobile }}"></a> -->
          <!-- </i> -->
        </div>
      </div>
      <div class="row" ng-hide="singleNotification.sampleReqStatus || singleNotification.notificationType == 'Fav' || singleNotification.notificationType=='PostRequirement'">
        <div class="col">
          <div class="accept-btn">
            <button class="button button-block" ng-click="acceptNotification('Accept',singleNotification)" promise-btn="sendSampleRequestAcceptPromise">
              Accept
            </button>
          </div>
        </div>
        <div class="col">
          <div class="decline">
            <button class="button button-block" promise-btn="acceptNotificationDeclinePromise" ng-click="acceptNotification('Reject',singleNotification)">
              Decline
            </button>
          </div>
        </div>
      </div>
      <div class="send-sample-btn" ng-if="singleNotification.sampleReqStatus">
        <h4 ng-if="singleNotification.sampleReqStatus=='Accept'">
          Sample Request has been Accepted
        </h4>
        <h4 ng-if="singleNotification.sampleReqStatus=='Reject'">
          Sample Request has been Rejected
        </h4>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
