<ion-modal-view class="bg-color-black">
  <ion-header-bar class="bar bg-color-black">
    <div class="header-title bg-color-black">
      <div>
        <h1 class="title white title-left"></h1>
        <button class="button button-icon icon ion-close close-icon close gallery-close" ng-click="closeModal()"></button>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="modal image-modal transparent modal-img-view">
      <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
        <ion-slide ng-repeat="image in product.images">
          <ion-scroll zooming="true" direction="xy" overflow-scroll="false" delegate-handle="zoom-pane" class="zoom-pane"
            min-zoom="1" scrollbar-x="false" scrollbar-y="false">
            <img ng-src="{{ image | serverimage }}" class="fullscreen-image" />
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
      <!-- <ion-scroll
            zooming="true"
            direction="xy"
            overflow-scroll="false"
            delegate-handle="zoom-pane"
            class="zoom-pane"
            min-zoom="1"
            scrollbar-x="false"
            scrollbar-y="false"
          >
            <img ng-src="{{ singleImage | serverimage }}" class="fullscreen-image" />
          </ion-scroll> -->
    </div>
  </ion-content>
</ion-modal-view>
