<ion-view hide-nav-bar="true">
  <ion-header-bar>
    <div class="header-title">
      <div class="bar bar-header">
        <div class="button button-icon icon-Back1" ng-click="goToShop()"></div>
        <h1 class="title white">
          Add New Product
        </h1>
      </div>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">
    <add-edit-product-image></add-edit-product-image>
    <div class="mar-20">
      <add-edit-product-form></add-edit-product-form>
    </div>
  </ion-content>
</ion-view>
