<ion-view hide-nav-bar="true">
  <ion-header-bar>
    <div class="header-title">
      <div class="bar bar-header">
        <button class="button button-icon icon-Back1" ng-click="goBackHandler()"></button>
        <h1 class="title white title-left">Recently Viewed</h1>
      </div>
    </div>

  </ion-header-bar>
  <ion-content class="has-header-bar Favourites" on-scroll="getScrollPosition()" delegate-handle="mainScroll">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="scrollToTop()">
    </ion-refresher>
    <div class="mt-10">
      <div class="row mtb-10" ng-repeat="recent in recentProducts track by $index">
        <div class=" col-50" ng-repeat="product in recent">
          <product-box ng-product="product.product"></product-box>
        </div>
        <!-- <div class=" col-50 ">
          <div class="category-img rel" ui-sref="buyer-product-detail">
            <img  src="img/products/denim.jpeg" alt="">
          </div>
          <div class="mar-l10 rel btn-app-color1">
            <div class="shirt-design-name">Excepteur sint</div>
            <div class="design-no">1339</div>
            <i class="icon-Quick-action shirt-options" ng-click="showActionsheet()"></i>
          </div>

        </div> -->

      </div>
      <!-- <div class="row mtb-10">
        <div class=" col-50">
          <div class="category-img rel" ui-sref="buyer-product-detail">
            <img  src="img/products/linen.jpeg" alt="">
          </div>
          <div class="mar-l10 rel btn-app-color1">
            <div class="shirt-design-name">Excepteur sint</div>
            <div class="design-no">1339</div>
            <i class="icon-Quick-action shirt-options" ng-click="showActionsheet()"></i>
          </div>

        </div>
        <div class=" col-50 ">
          <div class="category-img rel" ui-sref="buyer-product-detail">
            <img  src="img/products/lycra.jpeg" alt="">
          </div>
          <div class="mar-l10 rel btn-app-color1">
            <div class="shirt-design-name">Excepteur sint</div>
            <div class="design-no">1339</div>
            <i class="icon-Quick-action shirt-options" ng-click="showActionsheet()"></i>
          </div>

        </div>
      </div>
    </div>
    <div class="row mtb-10">
      <div class=" col-50">
        <div class="category-img rel" ui-sref="buyer-product-detail">
          <img  src="img/products/dobby.jpeg" alt="">
        </div>
        <div class="mar-l10 rel btn-app-color1">
          <div class="shirt-design-name">Excepteur sint</div>
          <div class="design-no">1339</div>
          <i class="icon-Quick-action shirt-options" ng-click="showActionsheet()"></i>
        </div>
      </div>
      <div class=" col-50 ">
        <div class="category-img rel" ui-sref="buyer-product-detail">
          <img  src="img/products/double-cloth.jpeg" alt="">
        </div>
        <div class="mar-l10 rel btn-app-color1">
          <div class="shirt-design-name">Excepteur sint</div>
          <div class="design-no">1339</div>
          <i class="icon-Quick-action shirt-options" ng-click="showActionsheet()"></i>
        </div>
      </div>
    </div> -->
      <ion-infinite-scroll ng-if="!productsLoaded  && !productsLoading && !pullToRefreshWorking" on-infinite="loadMore()"
        distance="4%" icon="ion-loading-c"></ion-infinite-scroll>
  </ion-content>
  <!-- <ion-footer>
    <div class="tab-custom">
      <div class="tabs tabs-icon-top">
        <a class="tab-item active lato-regular" ui-sref="app.inner-market">
          <i class="icon icon-Logo1 app-color"></i>
          Market
        </a>
        <a class="tab-item bg-color lato-regular white active" ui-sref="app.collection">
          <i class="icon icon-Collection"></i>
          Collection
        </a>
        <a class="tab-item lato-regular active" ui-sref="buyer-notification">
          <i class="icon icon-Notification app-color"></i>
          Notification
        </a>
      </div>
    </div>

  </ion-footer> -->
  <scroll-top ng-click="scrollToTop()"></scroll-top>
</ion-view>
