<ion-view hide-nav-bar="true">
  <ion-header-bar>
    <div class="header-title">
      <div class="bar bar-header ">
        <button class="button button-icon icon-Back1" ng-click="goTo()" ng-hide="firstVisit"></button>
        <h1 class="title white ">Accessories Categories</h1>
      </div>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">
    <div ng-if="categoryChunk">
      <div class="category-head">
        Choose minimum one category that represents what product you sell
      </div>
      <div class="row mtb-20" ng-repeat="categories in categoryChunk">
        <div class=" col-33 text-center" ng-repeat="category1 in categories">
          <div class="category-img rel" ng-click="selectCategory(category1)" ng->
            <div class="bg-color-gradient">
              <i class="icon icon-Tick tick-icon" ng-if="category1.active"></i>
              <img ng-src="{{ category1.image | serverimage }}" alt="" ng-class="{'opc':category1.active}" />
              <label class="category-name">{{ category1.name }}</label>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="explore-btn" ui-sref="app.sellertab({tab:'myshop'})"> -->
      <div class="explore-btn" ng-click="goTo()">
        <button class="button button-block text-uppercase ">Explore</button>
      </div>
    </div>
  </ion-content>
</ion-view>
