<ion-view>
  <ion-header-bar>
    <div class="header-title">
      <div class="bar bar-header ">
        <button
          class="button button-icon icon ion-arrow-left-c white"
          ng-click="goBackHandler()"
        ></button>
        <h1 class="title white ">Followers</h1>
        <button class="button button-icon " ng-click="changeDisplay()">
          <ion-icon
            ng-if="!listDisplay && gridDisplay"
            class="icon ion-navicon-round"
            name="ion-navicon-round"
          ></ion-icon>
          <ion-icon
            ng-if="listDisplay && !gridDisplay"
            class="icon icon-grid"
            name="icon-grid"
          ></ion-icon>
        </button>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="not-top-pad">
      <div ng-if="listDisplay">
        <div
          class="buyers-list-card search-seller"
          ng-repeat="follower in followersList"
        >
          <div class="list card">
            <a class="item item-thumbnail-left">
              <img ng-src="{{ follower.photo | serverimage: 50:50:'cover' }}" />
              <h2 class=" txt-up">{{ follower.companyName }}</h2>
              <br />
              <span>{{ follower.name }}</span
              ><br />
              <!-- <span class="text-cap">MFG:{{follower.companyName}}, {{follower.gstNumber}}</span><br> -->
              <label>{{ follower.city }}, {{ follower.state }}</label>
            </a>
            <!-- <button class="contact-details" ui-sref="seller-profile">View Profile</button> -->
            <button
              class="contact-details f11"
              ui-sref="buyers-detail({buyerId: follower._id})"
            >
              View Profile
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Grid View start-->
    <div class="not-top-pad" ng-if="gridDisplay">
      <div class="row" ng-repeat="followers in followChunk">
        <div class="col-50" ng-repeat="follower in followers">
          <div class="followers-tab notification-tab">
            <div class="row">
              <div class="col-33" ng-click="openBuyerProfileModal()">
                <div
                  class="noti-right-img"
                  style="background:url({{
                    follower.photo | serverimage: 60:60:'cover'
                  }}) #ddd no-repeat center center"
                >
                  <!-- <img ng-src="{{ follower.photo | serverimage }}" /> -->
                </div>
              </div>
              <div class="col-67">
                <div class="notification-text">
                  <div class="text-ellipsis mb-3 txt-up">
                    <strong>{{ follower.companyName }}</strong> <br />
                  </div>
                  <div class="text-ellipsis">
                    <span class="fw-400"> {{ follower.name }} </span>
                  </div>
                  <label>{{ follower.city }}, {{ follower.state }}</label>
                  <!-- <label >MFG:Something</label> -->
                  <!-- <span class="time">1h ago</span> -->
                </div>
                <div class="text-right">
                  <button
                    class="contact-details f11"
                    ui-sref="buyers-detail({buyerId: follower._id})"
                  >
                    View Profile
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid View End -->
  </ion-content>
</ion-view>
