<div class="search-header-top">
  <ion-header-bar class="search-header-top">
    <div class="header-search-title">
      <div class="bar bar-header">
            <h1 class="title white title-left">Network Error</h1>
      </div>
    </div>
  </ion-header-bar>
</div>
<ion-content class="padding-top networkerrorPage">
  <div class="list card">
    <div class="item item-body">
      <img class="full-image" src="img/no_net.png">
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-75 text-color">
      
      <h3>Oops!<br>No Internet</h3>
      <h5>Please check your Internet connection</h5>
      <button class="button button-block button-positive" ng-click="tryAgain()">
            TRY AGAIN
        </button>
    </div>
    <div class="col"></div>
  </div>

</ion-content>
